@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    padding: 0;
    margin: 0;
}

html,body{
    margin:0;padding:0; width:100%; height:100%;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    background:#282828;
    color:#fff;

    scrollbar-face-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-arrow-color: #fff;
	scrollbar-3dlight-color: none;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: none;
    scrollbar-color: #fff transparent;
    scrollbar-width: auto;
}
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-track{
	border-radius: 0;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: $secondary;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}


#wrap{

}

.container{
    width: calc(100% - 80px);
    padding:0 40px;
}

// 헤더
header{
    padding:35px 0 5px 0;
    .logo-wrap{
        display: flex;
        align-items: flex-start;
        .logo{
            width: 176px;
            margin-right: 16px;
        }
    }
}

// 컨텐트 
#content{
    padding:40px 0;
}